[build-system]
requires = ["setuptools", "wheel", "nltk>=3.6,<4", "textblob<1"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 200
target-version = ['py38']

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pytest.ini_options]
addopts = """\
    -ra \
    --flake8 \
    --cov=duckbot \
    --cov-branch \
    --cov-fail-under=85 \
    --cov-report xml --cov-report term-missing:skip-covered \
    -n auto \
    --blockage"""
