name: Code Analysis

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  analyze-codeql:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: python
    - name: CodeQL AutoBuild
      uses: github/codeql-action/autobuild@v2
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
