# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: DuckBot CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
      strategy:
        matrix:
          python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: . scripts/build/install.sh
    - name: Test with pytest
      run: . scripts/build/test.sh
  build:
    runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: [3.8]
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: Ensure main interprets
      run: . scripts/build/compile.sh
    - name: Lint with flake8
      run: . scripts/build/lint.sh
