# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: DuckBot CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install Dependencies
      run: . scripts/build/install.sh
    - name: Run Tests
      run: . scripts/build/test.sh
    - name: Ensure main Interprets
      run: . scripts/build/compile.sh
    - name: Run Lint Checks
      run: . scripts/build/lint.sh
    - name: Build Docker Image
      uses: docker/build-push-action@v2
      with:
        push: false
        context: .
        tags: "${{ github.actor }}/duckbot:${{ github.sha }}"
    - name: Sanity Check Docker Image
      run: |
        docker run --rm \
        -v $(pwd)/scripts:/duckbot/scripts \
        -v $(pwd)/.git:/duckbot/.git \
        "${{ github.actor }}/duckbot:${{ github.sha }}" /bin/bash -c '. scripts/build/compile.sh'
