name: DuckBot CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Setup Virtual Environment Cache
      id: venv
      uses: actions/cache@v2
      with:
        path: venv
        key: ${{ env.pythonLocation }}-venv-${{ hashFiles('setup.py', 'pyproject.toml') }}

    - name: Install Packages
      if: steps.venv.outputs.cache-hit != 'true'
      run: |
        python -m venv --clear venv
        . ./venv/bin/activate
        pip install --upgrade pip setuptools wheel
        pip install --editable .[dev]
    - name: Run Tests
      run: |
        . venv/bin/activate
        pytest
    - name: Report Code Coverage
      if: ${{ always() }}
      uses: codecov/codecov-action@v1

  sanity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test Connection to Discord
      run: |
        docker-compose run --rm \
          -e 'DUCKBOT_ARGS=connection-test' \
          -e "DISCORD_TOKEN=$(cat .github/workflows/test-token.txt | base64 --decode)" \
          duckbot

  deploy:
    needs:
    - release
    - sanity
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'duck-dynasty/duckbot'
    concurrency: deploy
    steps:
    - uses: actions/checkout@v2

    - name: Create Docker Image Tags
      id: image
      run: |
        echo "::set-output name=latest::duckdynasty/duckbot:latest"
        echo "::set-output name=commit::duckdynasty/duckbot:$(git rev-parse --short HEAD)"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Set up Docker Build Cache
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: ${{ runner.os }}-buildx-

    - name: Login to Docker
      uses: docker/login-action@v1
      with:
        username: duckdynasty
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build and Push Docker Image
      run: |
        docker buildx build . \
          --tag ${{ steps.image.outputs.latest }} \
          --tag ${{ steps.image.outputs.commit }} \
          --platform=linux/amd64 \
          --cache-from='type=local,src=/tmp/.buildx-cache' \
          --cache-to='type=local,dest=/tmp/.buildx-cache' \
          --push

    - name: Publish Wiki Documentation
      uses: SwiftDocOrg/github-wiki-publish-action@v1
      with:
        path: wiki
      env:
        GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        WIKI_COMMIT_MESSAGE: ${{ github.event.commits[0].message }}
        GITHUB_ACTOR: ${{ github.event.commits[0].author.name }}

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Set up AWS Secrets
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        OPENWEATHER_TOKEN: ${{ secrets.OPENWEATHER_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
        WOLFRAM_ALPHA_TOKEN: ${{ secrets.WOLFRAM_ALPHA_TOKEN }}
      run: |
        aws ssm put-parameter --name /duckbot/token/discord --type SecureString --value "$DISCORD_TOKEN" --overwrite
        aws ssm put-parameter --name /duckbot/token/openweather --type SecureString --value "$OPENWEATHER_TOKEN" --overwrite
        aws ssm put-parameter --name /duckbot/token/github --type SecureString --value "$GITHUB_TOKEN" --overwrite
        aws ssm put-parameter --name /duckbot/token/wolfram-alpha --type SecureString --value "$WOLFRAM_ALPHA_TOKEN" --overwrite

    - name: Update CloudFormation Stack
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: duckbot
        template: .aws/cloudformation.template.yml
        parameter-overrides: "DuckBotImage=${{ steps.image.outputs.commit }}"
        capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
