name: DuckBot CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup Pip Cache
      uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
        restore-keys: ${{ env.pythonLocation }}-

    - name: Install Packages
      run: |
        pip install --upgrade pip setuptools wheel
        pip install --editable .[dev]
    - name: Run Tests
      run: pytest --junitxml=coverage.xml
    - name: Upload Test Results
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage-report-python${{ matrix.python-version }}
        path: coverage.xml
        retention-days: 7
    - name: SonarCloud Analysis
#       if: github.event_name == 'push' && github.repository == 'Chippers255/duckbot'
      uses: sonarsource/sonarcloud-github-action@master
      with:
        args: -Dsonar.organization=twentylemon -Dsonar.projectKey=duckbot -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.sources=duckbot/ -Dsonar.tests=tests/ -Dsonar.version=true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  sanity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test Connection to Discord
      run: |
        docker-compose run --rm \
        -e 'DUCKBOT_ARGS=connection-test' \
        -e "DISCORD_TOKEN=$(cat .github/workflows/test-token.txt | base64 --decode)" \
        duckbot

  deploy:
    needs:
    - release
    - sanity
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'Chippers255/duckbot'
    steps:
    - uses: actions/checkout@v2

    - name: Set up QEMU for ARM Platforms
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    # docker login can only happen once; force wait for previous runs before continuing
    - name: Block Concurrent Workflow Executions
      uses: softprops/turnstyle@v1
      with:
        poll-interval-seconds: 60
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker
      uses: docker/login-action@v1
      with:
        username: chippers255
        password: ${{ secrets.DOCKER_PASS }}
    - name: Build and Push Docker Image
      run: docker buildx bake --set '*.platform=linux/arm/v7' --push

    - name: Trigger Deployment
      run: |
        curl -X POST https://api.github.com/repos/${{ secrets.DEPLOY_REPO }}/dispatches \
          -u "${{ secrets.ACCESS_TOKEN }}" \
          -H "Accept: application/vnd.github.everest-preview+json" \
          -H "Content-Type: application/json" \
          --data '{"event_type": "deploy-duckbot"}'
